<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.medication_helper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".UserData"
        android:allowBackup="true"
        android:icon="@drawable/green_cross"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicationHelper"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCGMfGB8Ktf29s-fJT1gaBAcl7O98TixmE" />


        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/RemoveSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MedicineListActivity" />
        <activity android:name=".MedicRegisterActivity" />
        <activity android:name=".ComForbiddenListActivity" />
        <activity android:name=".DuplicateListActivity" />
        <activity android:name=".PregnantForbiddenListActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".UserRegisterActivity" />
        <activity android:name=".UserModifyActivity" />
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-2721080471277714~3179912396"/>
        <meta-data android:name="android.max_aspect" android:value="ratio_float" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cookandroid.medication_helper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
    </application>

</manifest>